In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint
from census import Census
from us import states

import gmaps

from api_key import g_key
g_key
gmaps.configure(api_key=g_key)
#import os as os
# Census API Key
print(os.getcwd())
#os.chdir(C:\Users\alana\OneDrive\Desktop\GitHub\Group_Project1)
#from api_key import api_key
from api_key import Census_Key 
Census_Key 
#api_key import Census_Key
#c = Census(api_key, year=2013)

c = Census(Census_Key, year=2017)

C:\Users\alana\OneDrive\Desktop\GitHub\Group_Project1

In [2]:
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_df = pd.DataFrame(census_data)

# Column Reordering
census_rn = census_df.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", 
                                      "zip code tabulation area": "ZIP"})

In [8]:
census_rn.dtypes

Name                  object
Household Income     float64
Population           float64
Median Age           float64
Per Capita Income    float64
Poverty Count        float64
ZIP                   object
dtype: object

In [3]:
census_rn.head()

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,ZIP
0,ZCTA5 00601,11757.0,17599.0,38.9,7041.0,11282.0,00601
1,ZCTA5 00602,16190.0,39209.0,40.9,8978.0,20428.0,00602
2,ZCTA5 00603,16645.0,50135.0,40.4,10897.0,25176.0,00603
3,ZCTA5 00606,13387.0,6304.0,42.8,5960.0,4092.0,00606
4,ZCTA5 00610,18741.0,27590.0,41.4,9266.0,12553.0,00610

In [4]:
#Reads CSV file
clean_311_zip = pd.read_csv("final_311_census.csv", encoding="utf-8")
#clean_311_zip.head()
clean_311_zip.dtypes

CREATED_ON              object
CREATE_DATE             object
REQUEST_TYPE            object
REQUEST_ORIGIN          object
DEPARTMENT              object
NEIGHBORHOOD            object
X                      float64
Y                      float64
location                object
ZIP                      int64
Household Income_x       int64
Population_x             int64
Median Age_x           float64
Per Capita Income_x      int64
Poverty Count_x          int64
Name_x                  object
Household Income_y     float64
Population_y           float64
Median Age_y           float64
Per Capita Income_y    float64
Poverty Count_y        float64
Poverty Rate           float64
Name_y                  object
Household Income       float64
Population             float64
Median Age             float64
Per Capita Income      float64
Poverty Count          float64
dtype: object

In [5]:
merge_311_census = pd.merge(clean_311_zip, census_rn, on="ZIP")
#no need to run file was alreay created

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [13]:
merge_311_census

NameError: name 'merge_311_census' is not defined

NameError: name 'merge_311_census' is not defined

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='800px'))

In [81]:
request_layer = gmaps.symbol_layer(
    locations#, 
    #fill_color='rgba(0, 150, 0, 0.4)',
    #stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    #info_box_content=[f"Bank amount: {bank}" for bank in bank_rate]
)


fig = gmaps.figure()
fig.add_layer(request_layer)

fig

Figure(layout=FigureLayout(height='420px'))